torque/logs
torque/scripts
*.logs
#!/usr/bin/perl -w
use strict;
use warnings;

my $pair_list = shift or die "Usage: <file list of pairs, 3 columns, sample - idT - idN\n";

open PAIRS, "<$pair_list";
my $home = "/raid/users/jgrundst";
my $ref = "$home/REF";
my $ref_fa = "$ref/hg19_Ordered.fa";
#my $dbsnp = "$ref/GATK_hg19_bundle/dbsnp_137.hg19.ordered.vcf";
#my $cosmic = "$ref/COSMIC/Cosmic.hg19.v2.vcf";
#my $intervals_to_process = "$ref/nimblegen.merged.intervals";
my $intervals_to_process = "$ref/hg19_Ordered.intervals";
#my $java = "$home/jdk1.7.0_45/bin/java";
my $java = "/usr/bin/java";
my $tmp = "-Djava.io.tmpdir=$home/temp";
my $run_muTect = "$java $tmp -Xmx2g -jar $home/TOOLS/muTect-1.1.4.jar";
`mkdir -p scripts/`;
`mkdir -p logs/`;
#list all the sample names, and where the sample number matches i.e. 201T and 201B, output the bamfiles, one for blood and on for tumor so they can go into mpileup and bcftools
foreach my $line (<PAIRS>){
	chomp $line;
	(my $s, my $tumor_id, my $normal_id) = split /\t/, $line;
	my $normal_bam = `ls $normal_id*.rmdup.srt.bam`;
	my $tumor_bam = `ls $tumor_id*.rmdup.srt.bam`;
	chomp $normal_bam;
	chomp $tumor_bam;

	print STDERR "T: $tumor_bam	N: $normal_bam\n";
	my $out = "$tumor_id-$normal_id";
	foreach my $interval (`cat $intervals_to_process`) {
		chomp $interval;
		print "interval: ->$interval<-\n";
		(my $chr, my $garbage) = split /:/, $interval;
		my $output_file = "$out.$chr.out";
		my $vcf_file = "$out.$chr.vcf";
		my $log_file = "$out.$chr.log";
		my $run_file = "scripts/run_$out.$chr.sh";

		`echo "#!/bin/bash
#PBS -N $out.$chr
#PBS -l nodes=1:ppn=2
#PBS -j oe
#PBS -o logs/
cd \\\$PBS_O_WORKDIR
$run_muTect -T MuTect -R $ref_fa --intervals $interval --input_file:normal $normal_bam --input_file:tumor $tumor_bam --out $output_file -vcf $vcf_file --enable_extended_output --strand_artifact_power_threshold 0 -log $log_file
cat $output_file | grep -v REJECT > $output_file.keep
cat $vcf_file | grep -v REJECT > $vcf_file.keep" > $run_file`;
		`chmod +x $run_file`;
	}

}
>Thu Mar 19 16:19:23 2015
Starting vm qc for sample set CCSET1
>Thu Mar 19 16:19:23 2015
Booting up vm
. /home/ubuntu/.novarc;nova boot vm_pipe_CCSET1 --image 1d70f0c8-b746-4fee-943b-a1a361df4414 --flavor 13 --key_name mb_inst
>Thu Mar 19 16:19:55 2015
Checking success of vm boot. 30 seconds have passed
Status of vm_pipe_CCSET1 is BUILD with id 0ee18daf-dce8-4219-860f-c17f567946b5
>Thu Mar 19 16:20:25 2015
Checking success of vm boot. 60 seconds have passed
Status of vm_pipe_CCSET1 is ACTIVE with id 0ee18daf-dce8-4219-860f-c17f567946b5
>Thu Mar 19 16:20:46 2015
Copying openstack variables to vm
ssh-keyscan 172.16.192.8 >> ~/.ssh/known_hosts;rsync /home/ubuntu/.novarc ubuntu@172.16.192.8:/home/ubuntu
# 172.16.192.8 SSH-2.0-OpenSSH_6.6.1p1 Ubuntu-2ubuntu2
# 172.16.192.8 SSH-2.0-OpenSSH_6.6.1p1 Ubuntu-2ubuntu2
>Thu Mar 19 16:20:50 2015
VM setup for vm_pipe_CCSET1 with IP address 172.16.192.8 with ID 0ee18daf-dce8-4219-860f-c17f567946b5 successful
Attaching cinder volume...
>Thu Mar 19 16:20:50 2015
Creating cinder volume REFS_CCSET1 using snapshot ID 64e23e05-6123-4b49-bd6f-7db5f1ebd7c7to vm with ID 0ee18daf-dce8-4219-860f-c17f567946b5
>Thu Mar 19 16:21:21 2015
Checking success of volume creation. 30 seconds have passed
Status of REFS_CCSET1 is available with id 51623081-01f2-4aad-b10f-38dd8dde792a
VM setup for REFS_CCSET1 with ID 51623081-01f2-4aad-b10f-38dd8dde792a successful.  Attaching to vm
>Thu Mar 19 16:21:21 2015
. /home/ubuntu/.novarc;nova volume-attach 0ee18daf-dce8-4219-860f-c17f567946b5 51623081-01f2-4aad-b10f-38dd8dde792a
+----------+--------------------------------------+
| Property | Value                                |
+----------+--------------------------------------+
| device   | /dev/vdb                             |
| id       | 51623081-01f2-4aad-b10f-38dd8dde792a |
| serverId | 0ee18daf-dce8-4219-860f-c17f567946b5 |
| volumeId | 51623081-01f2-4aad-b10f-38dd8dde792a |
+----------+--------------------------------------+
>Thu Mar 19 16:21:23 2015
ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no ubuntu@172.16.192.8 "sh -s" < /home/ubuntu/TOOLS/Scripts/utility/mount.sh "REFS_CCSET1" exit;
Warning: Permanently added '172.16.192.8' (ECDSA) to the list of known hosts.
mkfs.xfs: /dev/vdb appears to contain an existing filesystem (xfs).
mkfs.xfs: Use the -f option to force overwrite.
Volume attached.  Go play and have fun!
